/* HW colours */
/* HW dark blue HWdb #0049aa */
/* HW light grey HWlg #c3cbd3 */
/* dark grey dg #404040 */
/* light grey lg #f4f4f4 */

/* HW's sans-serif font is Frutiger */
/* HWfont*/
/* Helvetica/Arial-based sans serif stack */
/* font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; */

body {
    background: /*lg*/ #f4f4f4;
    color: /*dg*/ #505050;
    font-family: /*HWfont*/ Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

a  {
    color: /* HWdb */ #0049aa;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

h2 {
    border-bottom: 1px solid /*dg*/ #404040;
}

dt {
    font-weight: bold;
}


/* Content */

#content {
    line-height: 1.3em;
    margin: 0 20% 5px;
    padding: 0;
}

/* Table of Contents */
nav#table-of-contents {
}

#table-of-contents h2 {
    visibility:hidden;
    display: none;
}
#text-table-of-contents {
    margin: 1%;
    display: block;
    position: fixed;
    left: 0%;
    top:50px;
    width: 20%;
    padding:0;
    list-style:none;
}
#text-table-of-contents li {
    display:inline;
}
#text-table-of-contents li a {
    width:80%;
    line-height:2em;
    float:left;
    margin:0;
    padding:1px 10px 1px 10px;
    border-left:4px solid /*dg*/ #404040;
    text-decoration:none;
}
#text-table-of-contents li a:hover, #table-of-contents li a.current {
    background-color:/*HWlg*/ #c3cbd3;
    border-left:4px solid /*HWdb*/ #0049aa;
    color:/*dg*/ #505050;
}
#text-table-of-contents ul {
    margin:0;
    font-size:0.9em;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding-inline-start:0;
    padding-inline-end:0;
    list-style:none;
    
}

/* Images */

div.images {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

div.image {
  padding: 5px;
}

img.side {
    float: right;
    padding-left: 20px;
    line-height: 0px;
    background: /*lg*/ #f4f4f4;
}


/* Content */

table {
    padding:5px;
}

tr.top {
  border-bottom:3px solid /*HWdb*/ #0049aa;
  border-top:3px solid /*HWdb*/ #0049aa;
}

tr.sep {
  border-top: 1px solid /*dg*/ #404040;
}

tr.last {
  border-bottom: 3px solid /*dg*/  #0049aa;
}

th, td {
  text-align: left;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 1px;
  padding-left: 3px;
}

/* Postamble */

#postamble {
    background-color:/*HWlg*/ #c3cbd3;
    color:/*dg*/ #505050;
    font-size:0.5em;
    padding: 1px;
}
#postamble ul li {
    display:block;
}
